# Build results
**/bin/
**/obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.nuget.props
*.nuget.targets
